body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}
table {
  margin: 0 auto;
}
table#game td {
  background-color: #eee;
  height: 150px;
  width: 150px;
  border: solid black;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
}
 